.auth-form {
  text-align: left
}

.auth-form input {
  width: 100%;
}

.auth-form button {
  width: 100%;
  background-color: #fc5d51;
  color: white;
  padding: 8.8px 12px;
  font-size: 16px;
}

.auth-container {
  margin-left: 30%;
  margin-right: 30%;
}
