.auth-form label, h1, p, a {
  color: #4f4f4f;
}

.auth-form h1 {
  font-size: 32px;
  margin-bottom: 1px;
}

#signup-header {
  font-size: 46px;
}

.auth-form {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  width: 30em;
  margin: 75px 0 0 0;
}

.auth-form form {
  margin-top: 25px;
}

.auth-form input {
  margin: 5px 0;
  margin-bottom: 16px;
  border: 1px solid rgb(216, 228, 241);
  padding: 9px;
  text-align: start;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.auth-form input[type="text"] {
  font-weight: bold;
  font-size: 16px;
}

.auth-form button {
  width: 100%;
  background-color: #fc5d51;
  color: white;
  padding: 8.8px 12px;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}

.auth-form button:hover {
  background-color: #e35449;
}

.auth-form span {
  display: block;
}

.auth-form p {
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
}

.auth-form a {
  text-decoration: underline;
  font-size: 16px;
}


.auth-container {
  display: flex;
  flex: center;
  justify-content: center;
  flex-direction: row;
  padding: 48px 0;
}
