// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-pencil:hover{
  color: #fc5d51;
}
