.poll-page-container{
  height: 100vh;
  overflow: hidden;
}

.poll-page-container.no-scroll {
  overflow:hidden;
}

.poll-index-content-wrapper{
  padding: 12.8px;
  display:flex;
  height:80vh;
  position: relative;
}

.rodal-container {
  margin-top: 110px;
  width: 100%;
  background-color: #d3d3d3;


}
.poll-index-contents{
  width: 87%
}

.aside-bar-create {
  width:13%
}

.create-button {
  background-color: #fc5d51;
  padding: 8px 1em;
  color: white;
  width: 100%;
  max-width: 153px;
  border-radius: 3px;
  text-align: center;
  transition:width .2s linear, margin .2s linear;
}

.group-list-item{
  width: 100%;
  color: #203349;
  cursor: pointer;
  background: #ccdce8;
  min-height: 50px;
  padding: 12.8px;
  margin: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12.8px;
  box-sizing: border-box;
  transition: filter ease 0.2s
}

.group-list-right-side, .question-list-item-right{
  margin-right: 50px;
}

.group-list-right-side p, .question-list-item-right p {
  font-size: 11px;
  color: #255073;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
  font-weight: bold;
}

.group-list-left-side {
  display: flex;
  align-items: center;
}

.group-list-item:hover{
   filter: brightness(95%);
}

.checkbox-group{
  display:inline-block;
}

.group-name{
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
}

.group-name-input{
  width: 50%;
}

.group-name-form{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.cancel-button{
  color: #fc5d51;
  background-color: transparent;
  border: none;
}

.group-form-submit-button{
  background-color: #fc5d51;
  padding: 2px 1em;
  color: white;
  border-radius: 3px;
  margin: 0px 5px;
}

.question-list-item, .add-question-link{
  background-color: #e9eff4;
  cursor: pointer;
  padding: 12.8px;
  margin: 1px 0;
  font-size: 12.8px;
  padding-left: 30px;
  transition: filter 0.2s ease;
}

.question-list-item{
  display: flex;
  justify-content: space-between;
}

.question-list-item:hover, .add-question-link:hover{
  filter: brightness(95%);
}

.question-list-item a {
  margin-left: 5px;
}

.question-list-item-right{
  display: flex;
  align-items: center;
}

.add-question-link{
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 50px;
}

.add-question-link:hover, .question-list-item a:hover{
  text-decoration: underline;
  color: #fc5d51;
}

.question-list{
  margin-bottom: 15px;
}

.top-bar{
  height: 30px;
  margin-bottom: 12.8px;
}

.fa-caret-right{
  font-size: 16px;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
  margin: 0 5px;
}

.fa-caret-right.open{
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.bottom-box-index{
  display: flex;
  flex-direction: column;
  height: 300px;
}
.bottom-box-index>.footer-splash {
  width: 100%;
  height: 30%;
  background: #4f4f4f;
  color: gray;
}


.bottom-box-index>.leftover-box {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  flex: 1;
  background-color: #303233;

}
