.chart {
  padding: 20px 20px 4.5em 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.chart h1 {
  text-align: center;
  font-size: 300%;
  display: block;
  padding: 20px;
  background-color: #255073;
  color: white;
  font-family: inherit;
}

.chart h2 {
  margin-top: 10px;
  font-weight: lighter;
  text-align: center;
}

.chart h2 strong {
  font-weight: bold;
}

.chart-container {
  box-sizing: border-box;
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}


.tool-tip{
  background-color: white;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black;
}

.tool-tip h1 {
  font-size: 18px;
  padding: 5px;
}

.tool-tip h2 {
  font-size: 14px;
}

.chart-buttons {
  text-align: center;
  margin: 0 auto;
}

.chart-buttons button {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px 10px 0 10px;
}

.active-button {
  background-color: #b4fca4;
}
