/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

 body {
   font-family: "Source Sans Pro",source-sans-pro,Helvetica,Verdana,sans-serif;
   margin: 0;
 }

 a, button {
   cursor:pointer;
   border: 0;
   background: none;
   box-shadow:none;
   border-radius: 0px;
 }

 footer {
   height: 200px;
   background: #4f4f4f;
   color: gray;
   position: relative;
   top: 60px;
   display: flex;
 }

 footer a {
   text-decoration: none;
 }
