.header-group {
  height: 75px;
  width: 75%;
  display: inline-block;
  margin-left: 10px;
  text-align: right;


}

.nav-links {
  position: relative;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.nav-links a {
  margin-left: 10px;
}
