.header-group {
  height: 75px;
  width: 100%;
  display: inline-block;
  text-align: right;
  box-shadow: 0px 1px 10px rgba(79,79,79,0.35);
  position: fixed;
  z-index: 2;
  background-color: white;

}

.nav-links {
  position: relative;
  top: 40%;
  margin-left: auto;
  margin-right: 15%;
  display: inline-block;
}

.nav-links a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
}
.nav-links a:first-child {
  padding-right: 40px;
  text-decoration: none;
}

.nav-links a:visited {
  color: #6193c5;
}

.logo {
  text-align: left;
  display: inline-block;
  float: left;
  clear: left;
  position: relative;
  margin-left: 15%;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #6193c5;
}

.signup-button {
  border: .2px solid #6193c5;
  transition: background-color 0.2s ease,
  color 0.2s ease;
  background-color: white;
  color: #6193c5;
  padding: 4px 16px;
}
.signup-button:hover {
  color: white !important;
  background-color: #6193c5;
}
