.header-group.participant {
  background-color: black;
  color: white;
  position:sticky;
}

.participant-form.selected{
  background: #98FB98;
}


.logo.participant {
  color: white;
  margin-left: 15px;
}

.signup-button.participant, .header-button.participant {
  color: white;
}

.signup-button.participant {
  background-color: black;
  border: none;
  color: white;
}

.nav-links.participant a:visited {
  color: white;
}

.nav-links.participant a:first-child {
  color: white;
}

.nav-links.participant {
  margin-right: 15px;
}


.participant-main-content {
background-color: #2e5777;
height: 100vh;
}


.participant-form h1 {
font-weight: bold;
font-size: 20px;
color: white;
text-align: left;
}

.participant-form {
  margin: 0 auto;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.participant-form h2 {
  color: white;
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
  text-align: left;
}

.participant-form button {
  padding: 15px;
  margin: 5px 0;
  background-color: #ebebeb;
  color: black;
  width: 100%;
  text-align: left;
  transition: filter 0.2s ease,
  background-color 0.2s ease;
  font-size: 16px;
}

.participant-form button.delete-response{
  width: 200px;
  background-color: #2e5777;
  color: white;
  border: 3px white solid;
  text-align: center;
}



.participant-form button:hover{
  filter: brightness(.9);
}

.participant-form button:disabled{
  filter: brightness(.9);
  cursor:not-allowed;
}
