.splash-container {
  padding-top: 75px;
  width: 100%;
  height: 100%;
}

@media screen and (min-height: 800px) {
    section {
      max-height: 1050px;
      overflow: hidden;
    }
}

.marquee {
  background: image-url("home_marquee.jpg");
  background-position: center;
  min-height: 35em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.marquee-text-container {
  margin-left: 15%;
  margin-right: auto;
  max-width: 60em;
  box-sizing: border-box;
  max-width: 100%;

}

.marquee-text-container h1 {
  font-size: 69px;
  font-weight: bold;
  color: #6193c5;
  background-color: white;
  float:left;
  clear:left;
  padding: 12px 32px;
  margin: 6.9px 0;
  line-height: 1;
  box-sizing: border-box;
}

.splashBlock{
  padding: 70px 0;
  width: 100%;
  color: #4f4f4f;
  text-align: center;
}

.splashBlock h2 {
  font-size: 36px;
  padding-bottom: 9px;
  margin-bottom: 8px;
}

.splashBlock a {
  display: inline-block;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  background: white;
  border: #fc5d51 1px solid;
  color: #fc5d51;
  text-decoration: none;
  padding: 8.8px 12px;
}

.splashBlock a:hover{
  background-color: #e6e6e6
}

.bottom-box{
  display: flex;
  flex-direction: column;
  height: 500px;
}



.bottom-box>.footer-splash {
  width: 100%;
  height: 30%;
  background: #4f4f4f;
  color: gray;
}


.bottom-box>.leftover-box {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  flex: 1;
  background-color: #303233;

}
